body{
    background-image: url("img/eco.jpg");
    background-repeat: repeat;
}

div{
    width: 320px;
    height: 320px;
    border: 2px solid black;

    background-color: #6699ff;
    background-image: url("img/eco.jpg");
    background-repeat: repeat;
}
